.indent-20px {
  margin-left: 20px;
}

.indent-40px {
  margin-left: 40px;
}

span {
  color: blue;
}

body {
  margin: 0 auto;
}

main {
  padding: 10px;
}

.page-header-styling {
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 20px;
}

/* Structure of Pages Section (Code View) */
.structure-pages-code {
  border: 1px solid black;
  width: 40%;
  padding: 1%;
  flex-grow: 1;
}

/* Structure of Pages Section (Result View) */
.structure-pages-result {
  border: 1px solid black;
  width: 40%;
  padding: 1%;
  flex-grow: 2;
}

/* Styles the Description Section */
.structure-description {
  width: 40%;
  margin-right: 2%;
  text-align: justify;
}

/* Styles the Structure Section */
.structure {
  display: flex;
  gap: 2%;
  justify-content: space-around;
}

/* Center's the Page Header */
.page-header {
  text-align: center;
}

.code-header-html {
  text-align: left;
  background-color: blue;
  width: fit-content;
  color: white;
  padding: 5px;
}

.code-header-result {
  text-align: left;
  background-color: lightgrey;
  width: fit-content;
  color: white;
  padding: 5px;
}

/* Styles the Navigation Bar */

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 15px;
}

nav li a {
  padding: 14px 16px;
  text-decoration: none;
}
/*------------------------------*/

/*Centers the Title for Body, Head and Title Elements*/

.body-head-title {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}
.body-head-title-header {
  text-align: center;
}

.body-description {
  width: 40%;
  margin-right: 2%;
  text-align: justify;
}

.body-head-title-code {
  border: 1px solid black;
  width: 40%;
  padding: 1%;
  flex-grow: 1;
}

.body-head-title-result {
  border: 1px solid black;
  width: 40%;
  padding: 1%;
  flex-grow: 2;
}

/*Text Section Styles*/

.text-header {
  /*Styles the Text Section Header*/
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: darkgray;
}

.text-info {
  width: fit-content;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
}
