/*Styles the Sites Header*/
h1 {
  text-align: center;
  background-color: blue;
  padding: 10px;
  color: white;
}

/*Styles the navigation bar*/
li a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1%;
}

/*Styles the search bar*/
.search-bar {
  width: 50%;
  height: 30px;
  display: block;
  margin: 0 auto;
}
